body {
    margin: 0;
}

.background-image {
    background-image: url('./images/fundo.png');
    background-size: cover;
    background-position: center;
    height: 300px; 
    position: relative;
}

.text-center-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 1.5rem;
    text-align: center;
}

.custom-img {
    width: 100%; 
    max-width: 500px; 
    height: auto;
    margin-top: 20px; 
}

